.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.container {
    margin-left: 220px;
    padding: 20px;
    box-sizing: border-box;
}
.box {
    display: flex;
    align-items: center;
    width: 40%;
    height: 210px;
    margin: 2.5%;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    border-width: thick;
    border-style: ridge;
}
.logo {
    height: 70%;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.details {
    margin-left: 220px;
    padding: 20px;
    box-sizing: border-box;
}

.delete {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url(../images/delete.jpg);
}

.edit {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url(../images/edit.png);
}

.modal {
    margin-left: 220px;
    padding: 20px;
    box-sizing: border-box;
}